.vertical-center {
    width: 400px;
    margin-top: 30px;
    border-radius: 15px;
    overflow: hidden;
  }
  
  .player-header {
    writing-mode: vertical-rl;
    text-align: right;
    vertical-align: middle;
  }
  
  .green .P3 {
    background-color: yellow;
  }
  
  #title {
    background-color: goldenrod;
  }
  
  .right {
    text-align: right;
  }
  
  .scoreTable {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.5);
  }
  
  /* tr {
    line-height: 10px;
    min-height: 10px;
    height: 10px;
  }
  
  td {
    position: relative;
    font-weight: lighter;
  }
  
  th {
    position: relative;
  } */
  
  /* .eliminated td::before, */
  /* .eliminated th::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
  } */
  
  .hidden {
    display: none;
  }
  
  .exhonorated th {
    text-decoration: line-through;
  }
  
  /* ---------Modal---------- css */
  
  #card-table {
    margin-bottom: 0;
  }
  
  #card-modal-body {
    padding-bottom: 0;
  }
  
  
  